$base-blue: #d7e0fa;
$blue-color-1x: #275b62;
$blue-color-2x: #98cfd6;
$blue-color-3x: #9ec2c7;
$blue-color-4x: rgba(215,215,215,.7);
$blue-color-5x: #4e63b1;
$blue-color-6x: #3baed0;
$color-red: #ff0000;

$red-color-1x: #ff0000;

$grey-color-1x: #f6f6f6;